<div class="ui horizontal divider">
    category editor
</div>
<div class="ui left aligned container">
    <form class="ui form" #categoryForm="ngForm">
        <div [ngClass]="{error: name.invalid && name.touched}" class="field">
            <label>Name:</label>
            <div class="ui input">
                <input
                        type="text" placeholder="Category name" name="name"
                        [(ngModel)]="category.name"
                        #name="ngModel"
                        required/>
            </div>
        </div>
        <div [ngClass]="{disabled: name.invalid || name.pristine}"
             class="ui primary button"
             (click)="onSubmit()">Save
        </div>
        <div (click)="back()" class="ui yellow button">Cancel</div>
    </form>

    <div *ngIf="isSent" class="ui success message">
        <div class="header">Form Completed</div>
        <p>Successfully submitted form.</p>
    </div>
    <div *ngIf="isError" class="ui error message">
        <div class="header">Error of send.</div>
        <p>Please try again later.</p>
    </div>
</div>


