<sm-menu title="Admin Management" class="inverted teal">
    <sm-menu class="menu right secondary" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="" sm-item [icon]="'list layout icon'">Product</a>
        <a [routerLink]="" sm-item [icon]="'book icon'">Catalog</a>
        <a [routerLink]="['/users']" sm-item [icon]="'users icon'">Users</a>
        <a [routerLink]="" sm-item [icon]="'dollar icon'">Orders</a>
        <a [routerLink]="" sm-item [icon]="'options icon'">Properties</a>
    </sm-menu>
</sm-menu>