<sm-menu title="Admin Management" class="inverted teal">
    <sm-menu class="menu right secondary">
        <a [routerLink]="" routerLinkActive="active" sm-item [icon]="'list layout icon'">Product</a>
        <a [routerLink]="" routerLinkActive="active" sm-item [icon]="'book icon'">Catalog</a>
        <a [routerLink]="['/users']" routerLinkActive="active" sm-item [icon]="'users icon'">Users</a>
        <a [routerLink]="" routerLinkActive="active" sm-item [icon]="'dollar icon'">Orders</a>
        <a [routerLink]="" routerLinkActive="active" sm-item [icon]="'options icon'">Properties</a>
    </sm-menu>
</sm-menu>