<div class="nc-top-menu">
    <sm-menu title="Admin Management" class="inverted teal">
        <sm-menu class="menu right secondary">
            <a [routerLink]="['/product-model-editor']" routerLinkActive="active" sm-item [icon]="'list layout icon'">Product Model</a>
            <a href="{{urlCatalog}}" sm-item [icon]="'book icon'">Catalog</a>
            <a [routerLink]="['/users']" routerLinkActive="active" sm-item [icon]="'users icon'">Users</a>
            <a [routerLink]="['/orders']" routerLinkActive="active" sm-item [icon]="'dollar icon'">Orders</a>
            <a href="{{urlProperties}}" sm-item [icon]="'options icon'">Properties</a>
        </sm-menu>
    </sm-menu>
</div>
