<div *ngIf="reviews?.length != 0" class="ui vertical stripe segment ">
    <div *ngFor="let review of reviews" class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                {{review.productName}}
            </div>
            <div class="six wide column">
                <sm-rating class="massive star" [initialRating]="review.rating" [maxRating]="5"></sm-rating>
            </div>
            <div class="twelve wide column">
                {{review.creationDate}}
            </div>
            <div class="fourteen wide column">
                <p>
                    {{review.description}}
                </p>
            </div>
            <div class="wide column">
                <button class="ui button red" (click)="onDelete(review.productId)">Delete</button>
            </div>
        </div>
        <div class="ui section divider"></div>
    </div>
</div>
<div *ngIf="reviews?.length == 0" class="ui text container center aligned">
    <div class="header">
        <i class="info circle icon"></i>
        I'am sorry
    </div>
    <p>
        This user doesn't have reviews
    </p>
</div>
