<div class="ui container right aligned">
    <button (click)="onAdd()" class="ui primary button">
        Add
    </button>
    <button (click)="onEdit()" [disabled]="!selectedCategory" class="ui yellow button">
        Update
    </button>
    <button (click)="onDelete()" [disabled]="!selectedCategory" class="ui red button">
        Delete
    </button>
    <h4 class="ui horizontal divider header">
        CATEGORIES
    </h4>
</div>
<tree-root
        [nodes]="categories | asTree : 'categoryId' : 'parentId'"
        (onActivate)="onSelect($event)"
        (onDeactivate)="onSelect($event)">
</tree-root>
<sm-modal #modalWindow icon="warning" title="Error removing item" class="basic">
    <modal-content>
        <p>This item can not yet be removed.</p>
    </modal-content>
</sm-modal>
