.ui.menu[class*="top attached"]:first-child {
    margin-top: 1em;
}

.ui.segment[class*="bottom attached"]:last-child {
    margin-bottom: 1em;
}
.jsReviewData{
    background-color: rgba(33, 133, 208, 0.06);
}
.jsThisUserReview{
    background-color: rgba(0, 0, 0, 0.02);
}
.jsThisUserReview .jsReviewData{
    background-color: #fff;
}