<div class="ui center aligned container">
    <h1>Characteristic group</h1>
</div>
<div class="ui container right aligned char-group-editor">
    <button (click)="onAddition()" class="ui primary button">
        Add
    </button>
    <button (click)="onEdit()" [disabled]="!selectedCharGroup" class="ui yellow button">
        Update
    </button>
    <button (click)="onDelete()" [disabled]="!selectedCharGroup" class="ui red button">
        Delete
    </button>
</div>
<sm-modal #modalWindow icon="warning" title="{{modalWindow.title}}" class="basic">
    <modal-content>
        <p>{{modalContent}}</p>
    </modal-content>
</sm-modal>

<nc-data-table [model]="model" [selectedItem]="selectedCharGroup" (select)="onSelect($event)"></nc-data-table>