<div class="ui center aligned container">
    <h1>Characteristic group</h1>
</div>
<div class="ui container right aligned char-group-editor">
    <button (click)="onAddition()" class="ui primary button">
        New group
    </button>
    <button (click)="onEdit()" class="ui yellow button">
        Edit
    </button>
    <button (click)="onDelete()" class="ui red button">
        Delete
    </button>
</div>

<nc-data-table [model]="model" (select)="onSelect($event)"></nc-data-table>

<nc-char-group-editor></nc-char-group-editor>