<div class="ui left aligned container">
    <h1>User Editor</h1>
</div>
<div class="ui container right aligned">
    <button class="ui button primary" [disabled]="groupForm.invalid"
            (click)="onSave(groupForm, submitPopup, $event)">Save
    </button>
    <button class="ui button yellow" (click)="onCancel()">Cancel</button>
    <button class="ui button red" *ngIf="userId" (click)="onDelete()">Delete</button>
</div>
<form class="ui container left aligned form" #groupForm="ngForm">
    <div class="ui small image" *ngIf="userId">
        <img class="ui small rounded image" [src]="pathToUserAvatar + user.userAvatar">
    </div>
    <div class="field" *ngIf="userId">
        <label>User ID</label>
        <input placeholder="User ID" readonly="readonly" type="number" value="{{user.id}}">
    </div>
    <div class="field">
        <label>Role</label>
        <sm-select
                [options]="{direction: 'auto'}"
                [(model)]="user.role.id" placeholder="Select Role..."
                class="fluid">
            <div *ngFor="let role of roles">
                <option value="{{role.id}}">{{role.name}}</option>
            </div>
        </sm-select>
    </div>
    <div class="field">
        <label>E-mail</label>
        <input type="text" placeholder="E-mail" [(ngModel)]="user.email" name="email" #email="ngModel"
               required pattern="[a-zA-Z_.-]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}">
    </div>
    <div class="field" *ngIf="!userId">
        <label>Password</label>
        <input type="password" placeholder="password" [(ngModel)]="user.password" name="password" #password="ngModel"
               required>
    </div>
    <div class="field">
        <label>First Name</label>
        <input type="text" placeholder="First Name" [(ngModel)]="user.firstName" name="firstName">
    </div>
    <div class="field">
        <label>Last Name</label>
        <input type="text" placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName">
    </div>
    <div class="field">
        <label>Phone</label>
        <input type="number" placeholder="Phone" [(ngModel)]="user.phone" name="phone" pattern="^[0-9\-\+]{2,11}$">
    </div>
    <div class="field" *ngIf="userId">
        <label>Registration Date</label>
        <input type="text" readonly="readonly" placeholder="Registration Date" value="{{user.registrationDate}}">
    </div>
</form>
<sm-popup #submitPopup>
    <sm-card *ngIf="isSent" class="card">
        <card-title> Successes!</card-title>
        <card-content>
            New user successfully created
        </card-content>
        <sm-button class="bottom attached fluid primary" (click)="submitPopup.hide()" icon="close">Close
        </sm-button>
    </sm-card>
    <sm-card *ngIf="isError" class="card">
        <card-title> Error!</card-title>
        <card-subtitle> Check role input</card-subtitle>
        <card-content>
            Pleace, repeat submit or try again later
        </card-content>
        <sm-button class="bottom attached fluid primary" (click)="submitPopup.hide()" icon="close">Close
        </sm-button>
    </sm-card>
</sm-popup>

<!--submitPopup.show($event, {position: 'top left'})-->